{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <a href="/playlists/1"><h1 class="page-header text-center">Editors Picks</h1></a>
    <div class="center-carousel">

        {% for video in editors %}
        <div class="">
          <a href="/video/{{video.id}}">
          <img class="img-responsive" src="http://img.youtube.com/vi/{{ video.youtube_id }}/hqdefault.jpg">

          </a>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->

    </div>
  </div>
  <hr />
  <div class="row">
    <h1 class="text-center">Recommended For You</h1>
    {% for video in reccomendations %}
    {% if loop.index <= 9 %}
    <div class="col-md-4 thumbnail-col">
      <a href="/video/{{video.id}}">
      <image class="index-thumbnail img-responsive" src="http://img.youtube.com/vi/{{ video.youtube_id }}/hqdefault.jpg" />
      <h3>{{ video.title }}</h3>
    </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
