<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Indie Joe</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="{{ url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" type="text/css">

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img alt="IndieJoe" src="{{ url_for('static', filename='IndieJoe.png')}}" />
      </a>
        <form action="/search" method="GET" class="navbar-form navbar-left">
          <input id="search" name="query" type="text" class="form-control" placeholder="Press Enter to Search...">
        </form>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/upload">Upload</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar dropdown">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/most-viewed">Most viewed</a></li>
          <!-- <li><a href="#">New</a></li> -->
          <li id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a>Genres <span class="caret"></span></a>
          </li>
          <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
            <li><a href="/genre/action">Action</a></li>
            <li><a href="/genre/comedy">Comedy</a></li>
            <li><a href="/genre/drama">Drama</a></li>
            <li><a href="/genre/horror">Horror</a></li>
            <li><a href="/genre/documentary">Documentary</a></li>
          </ul>
        </ul>
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% block body %} {% endblock %}
      </div>
    </div>
  </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>
