{% extends "layout.html" %} {% block body %}

  <body>
    <div class="movie-select text-center">
        <h1>Insert movie name here</h1> 
    </div>
    
    <div class="option-select">
        <ul>
            <li class="col-xs-6">
                <button type="button" class="btn btn-lg btn-primary">Dislike</button>
            </li>
            <li class="col-xs-6">
                <button type="button" class="btn btn-lg btn-primary">Like</button>
            </li>
        </ul>  
    </div>  
  </body>


{% endblock %}
