.carousel-inner img {
  height: 500px !important;
  vertical-align: center;
}

.col-md-4 {
  padding-bottom: 20px;
}

.col-md-4 img {
  margin-top: 15px;
}

.col-md-4 h4 {
  max-height: 15px;
}

a, a:hover, p, h1, h2, h3, h4, h5 , h6 {
  text-decoration:none;
  color: inherit;
}

.search-result {
  background-color: #F5F5F5;
  margin-bottom: 20px;
}

p {
  font-size: 1.45em;
}

.navbar-inverse {
  background-color: #3E3E3E;
}
